//CHANGE DEFAULT VARIABLES VALUES

$primary: #252726;
$secondary: #131316;
$cyan: #00e1ff;
$gray: #f7f7f7;


$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2.0,
  6: $spacer * 2.5,
  7: $spacer * 3,
  8: $spacer * 5,
  9: $spacer * 7,
);


$font-size-base:              1rem !default;

$h1-font-size:                $font-size-base * 3.75;
$h2-font-size:                $font-size-base * 2.5;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base * 0.9375;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: 1.25,
  6: 0.9375rem,
  7: 0.8125rem
);

// SCSS POSITION MAP
$position-values: (
  0: 0,
  10: 10%,
  20: 20%,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 300;
}

hr {
    width: 70px;
    border: 1px solid $cyan;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;

    &.line {
        width: 150px;
    }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

textarea {
    resize: none;
}

::-webkit-input-placeholder {
    color: white;
}

::-moz-placeholder {
    color: white;
}

:-ms-input-placeholder {
    color: white;
}

::-ms-input-placeholder {
    color: white;
}

::placeholder {
    color: white;
}

//BTN DEFAULT STYLING OVERRIDE

.btn,.btn-light,.btn-dark,.btn-info,.btn-check {
    border-radius: 0;

    &:focus {
        box-shadow: none;
    }

    &:active {
        border-color: inherit;
    }
}

.btn-light {
    color: $primary;
    background-color: transparent;
    border-color: $primary;

    &:hover {
        color: $primary;
        background-color: transparent;
        border-color: $primary;
    }
}

.btn-dark {
    color: white;
    background-color: transparent;
    border-color: $cyan;
    width: 150px;

    &:hover {
        color: white;
        background-color: $cyan;
        border-color: $cyan;
    }
}

.btn-primary {
    color: white;
    background-color: transparent;
    border-color: white;

    &:hover {
        color: white;
        background-color: $cyan;
        border-color: white;
    }
}

.btn-secondary {
    color: $cyan;
    background-color: transparent;
    border-color: $cyan;

    &:hover {
        color: white;
        background-color: $cyan;
        border-color: $cyan;
    }
}

.btn-info {
    color: $primary;
    background-color: transparent;
    border-color: $gray;

    &:hover {
        color: $primary;
        border-color: $cyan;
        background-color: transparent;
    }
}

//HEADER

.navbar-light .navbar-nav .nav-link:hover, 
.navbar-light .navbar-nav .nav-link:focus {
    color: $cyan;
    border-bottom: 2px $cyan solid;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
    color: $cyan;
    border-bottom: 2px $cyan solid;
}

.navbar-light .navbar-nav .nav-link {
    color: $primary;
}

//HOME

.home {
    height: 400px;

    h1 {
    font-weight: 200;
    }
}

//SERVICES

.services hr {
    width: 70px;
}

.img-wrap {
    height: 60px;
    margin: 20px auto 40px auto;
}

.button-arrow {

    position: relative;
    border-color: $cyan;

    &::after {
        content: "";
        position: absolute;
        top: 99%;
        left: 50%;
        height: 10px;
        width: 10px;
        background: white;
        box-sizing:border-box;
        transform: rotate(45deg) translate(-50%);
        border-bottom: inherit;
        border-right: inherit;
        box-shadow: inherit;
    }

    &:focus,&:active,&:hover {
        border-color: $cyan;
    }
}

.button-width {
    width: 49%;
}

//FULLY RESPONSIVE


//MODERN AND CELAN DESIGN


//TIMELINE
/* Variables */

$background: #252827;

$color-primary: #004ffc;
$color-light: white;
$color-dim: #959698;
$spacing: 50px;
$radius: 4px;

$date: 120px;
$dotborder: 4px;
$dot: 18px;
$line: 2px;

/* Base */

#timeline-content {
  margin-top: $spacing;
  text-align: center;  
}

/* Timeline */

.timeline {
  border-left: $line solid $color-dim;
  margin: $spacing auto $spacing auto;  
  position: relative;
  font-size: 1.03em;   
  padding: $spacing 1rem $spacing 2rem;   
  list-style: none;
  text-align: left;  
  font-weight: 100;  
  max-width: 90%; 
  
    p {
        font-weight: 200;
    }

    a { 
        color: $cyan;
        text-decoration: none;
        font-size: 1.0em;
        font-weight: 600;
    }

    h1 {
        font-weight: 100;
        font-size: 1.4em;   
    }
  
    h2, h3 {
        font-weight: 400;
        font-size: 1.4em;
    }
}

.event {
    padding-bottom: ($spacing * 0.5);
    margin-bottom: $spacing*1.4;  
    position: relative;

    &:last-of-type { 
        padding-bottom: 0;
        margin-bottom: 0; 
        border: none;      
    }

    &:before, &:after {
        position: absolute;
        display: block;
    }

    &:before {
        left: 0px;  
        top: -21px;   
        content: attr(data-date);
        text-align: left;
        font-weight: 200;    
        font-size: 0.9em;
        min-width: $date;
    }

    &:after { 
        left: -41.6px;
        background: white;
        border: solid 4px $cyan;          
        border-radius: 50%;  
        height: $dot;
        width: $dot;
        content: "";
        top: -37px;
    }
}

.event-header {

    display: block;

    &:before {
        display: block;
        position: absolute;
        min-width: 200px;
        left: 0px;
        top: -45px;
        content: attr(data-text);
        white-space: nowrap;
        text-align: left;
        color: $cyan;
        font-size: 1.3rem;
        font-weight: 600;
    }

    h3, p {
        text-align: left;
    }
}



//PORTFOLIO



.slider-item {
    text-align: center;
    background-color: white;
    margin: 0 5px;

    img {

        display: block;
        width: 100%;
    }

    h5 {
        margin: 1.5rem;
    }

    hr {
        width: 16.6%;
    }

    p {
        font-size: $font-size-base * 0.8125;
        padding: 1.5rem 10%;
    }
}

.slick-slide {
    width: 460px;
}


//VIDEO

.video {
    a {
        width: 35px;
        height: 35px;
        border: white 1px solid;
        border-radius: 50%;
        text-align: center;
        line-height: 33px;
    }
}

//STATS

.stats {
    background-color: #131316;

    h3 {
        margin-top: 1.5rem;
        font-weight: 300;
    }

    p {
        margin-bottom: 0;
    }
}

//TEAM

.members {
    h4 {
        color: $cyan;
    }

    .name {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .social {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
        font-size: 12px;
        border: 1px solid white;
    }
}

.social a{
    display: block;
    width: 100%;
    height: 100%;
}

.team-member:hover {
    .fb {
        background-color: #36609e;
        color: white;
        transition: background-color 0.7s, color 0.7s;
    }

    .twitter {
        background-color: #2ca9e1;
        color: white;
        transition: background-color 0.7s, color 0.7s;
    }

    .google {
        background-color: #db5442;
        color: white;
        transition: background-color 0.7s, color 0.7s;
    }

    .ball {
        background-color: #ee558e;
        color: white;
        transition: background-color 0.7s, color 0.7s;
    }
}

//ABOUT

.image {
    img {
        width: 100%;
        height: 300px;
    }
}

//QUOTE

.quotes {
    color: white;

    a {
        color: white;
    }
}

.prev, .next {
    cursor: pointer
}

//NEWS

.news {

    h1 {
        color: $cyan;
    }

    p {
        text-align: left;
    }

    a {
        color: $cyan;
        text-decoration: none;
        font-weight: 600;
    }
}

//MODERN DESIGN
.modern-design {
    hr {
        margin-left: 0;
    }
}

//CLIENTS

.client {

    p:nth-of-type(1) {
        color: $cyan;
        font-weight: 600;
    }
}

//SUBSCRIBE

.subscribe {
    a {
        display: block;
        width: 150px;
    }
}

//CONTACT

.contact {
    background-color: $secondary;
}

#name, #mail, #text {
    width: 100%;
    color: white;
    background-color: $secondary;
    border-style: none
}

.border-wrap {
    position: absolute;
    top: 70%;
    bottom: 0;
    width: 100%;
    border-style: none solid;
    border-color: white;
    border-width: 1px;
}

//ADRESS
.adress {
    background-color: $primary;
}

.bubble {
    background-color: $cyan;
    position: relative;

    ::after {
        content: "";
        position: absolute;
        top: 99%;
        left: 50%;
        height: 15px;
        width: 15px;
        background: $cyan;
        box-sizing:border-box;
        transform: rotate(45deg) translate(-50%);
        border-bottom: inherit;
        border-right: inherit;
        box-shadow: inherit;
    }

    a {
        color: white;
        text-decoration: none;
    }
}

//COPYRIGHT

.copyright span {
    color: $cyan;
}


//MEDIA QUERIES

@include media-breakpoint-up(sm) {

    .timeline {
    border-left: $line solid $color-dim;
    margin: $spacing auto $spacing 50%;  
    position: relative;
    font-size: 1.03em;   
    padding: $spacing;   
    list-style: none;
    text-align: right;  
    font-weight: 100;  
    max-width: 55%; 

        p {
            font-weight: 200;
        }

        a { 
            color: $cyan;
            text-decoration: none;
            font-size: 1.0em;
            font-weight: 600;
        }

        h1 {
            font-weight: 100;
            font-size: 1.4em;    
        }

        h2, h3 {
            font-weight: 400;
            font-size: 1.4em;
        }
    }

    .event {
        padding-bottom: ($spacing * 0.5);
        margin-bottom: $spacing;  
        position: relative;

        &:last-of-type { 
            padding-bottom: 0;
            margin-bottom: 0; 
            border: none;      
        }

        &:before, &:after {
            position: absolute;
            display: block;
            top: 0;
        }

        &:before {
            left: ((($date * 0.6) + $spacing + $line + $dot + ($dotborder * 2)) * 1.5) * -1;  
            top: 20px;   
            content: attr(data-date);
            text-align: right;
            font-weight: 200;    
            font-size: 0.9em;
            min-width: $date;
        }

        &:after { 
            left: ($spacing + $line + ($dot * 0.45)) * -1;
            background: white;
            border: solid 4px $cyan;          
            border-radius: 50%;  
            height: $dot;
            width: $dot;
            content: "";
            top: 5px;
        }
    }

    .event-header {

        display: block;

        &:before {
            display: block;
            position: absolute;
            min-width: 200px;
            left: ((($date * 1.04) + $spacing + $line + $dot + ($dotborder * 2)) * 1.5) * -1;
            top: -4px;
            content: attr(data-text);
            white-space: nowrap;
            text-align: right;
            color: $cyan;
            font-size: 1.3rem;
            font-weight: 600;
        }

        h3, p {
            text-align: left;
        }
    }
    
}

@include media-breakpoint-up(md) {
    .home {
        height: 700px;
    }
}

@include media-breakpoint-up(lg) {
    .navbar-nav:nth-child(1) li a {
        line-height: 90px;
    }

    .timeline {
        max-width: 45%;
    }
}

@include media-breakpoint-up(xl) {
    .timeline {
        max-width: 35%;
    }
}